.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}
/* Header Start */

.header {
  margin: 4rem 0 0 0;
}

/* Header => Nav Start */

.header .nav .nav_navbar {
  display: flex;
}
.nav_logo{
  margin-left: 4%;
}
.header .nav .nav_navbar li {
  margin: 0 0 0 3.2rem;
}

.header .nav .nav_navbar li a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #07043b;
  text-decoration: none;
}
/* Header => Nav End */

/* Header => Hero Start */

.features {
  display: flex;
  align-items: center;
  padding: 18vh 0 0 0;
}

.features .features_content h1 {
  margin: 0 0 1vh 6.1vh;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #07043b;
}

.features .features_content p {
  margin: 0 0 2vh 6.1vh;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;  
  letter-spacing: 0.53125px;
  color: #07043b;
}

.features .features_content_cta {
  display: flex;
  align-items: center;
}

.features .features_content input {
  padding: 1rem 6rem 1rem 1rem;
  margin: 0 1rem 0 6.1vh;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 45px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.466667px;
  color: #c2c2c2;
}

.features .features_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 45px;
  background: #2f65f8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 1rem 3rem;
}

.features .features_image img {
  margin: 0 0 0 5rem;
}
/* Header => Hero End */
/* Header End */

/* Main Start */

.back_container{
  max-width: 1440px;
  width: 100%;
  height: 100%;
  height: 800.37px;
  margin: 0 auto;
  background-image: url(Rectangle.png);
  margin-top: 107px;
  background-repeat: no-repeat;
}
/* Main Text Side Start */
.main_content{
  display: flex;
  align-items: flex-start;
  position: relative;
}

.main_content h1{
  margin: 195px 0px 0px 4%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #07043B;
  position: absolute;
  
}

.main_content .one {
  margin: 0 0 0vh 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #07043B;
  position: absolute;
  z-index: 9;
  left: 4%;
  right: 57.71%;
  top: 300px;
  bottom: 62.89%;

}

.main_content .two{
  margin: 0 0 0vh 0;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #07043B;
  position: absolute;
  z-index: 9;
  left: 4%;
  right: 57.71%;
  top: 366px;
  bottom: 62.89%;
}

.main_content .three{
  position: absolute;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #3DA08F;
z-index: 9;
left: 4%;
right: 57.71%;
top: 426px;
bottom: 62.89%;
cursor: pointer;

}
.main_content .three::before{
  content: "";
  width: 165px;
  height: 1px;
  position: absolute;
  top: 18px;
  background: #3DA08F;
  
}

.main_content .reviev{
  box-sizing: border-box;
  max-width: 356px;
  max-height: 215px;
  border-radius: 5px;
  padding: 32px 34px 74px 33px ;
  margin-top: 100px;
  position: absolute;
  top: 410px;
  left: 4%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;

}
.main_content .four{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 23px;
letter-spacing: 0.5px;
color: #07043B;
}

.main_content .user{
  position: absolute;
  top: 150px;
  z-index: 9;
}
/* Main Text Side End */
/* Main Illustraiton Side Start */
.main_illustration{
  position: absolute;
  left: 818px;
  right: 80px;
  top: 219px;
  bottom: 226px;
}
/* Main Illustraiton Side End */
/* Main End */
